BACKEND_SETTIGN=테스트중

# Postgres에 연결하기 위한 설정값. "./development_test_run.sh" 사용시 아래 값을 그대로 사용해도 됨.
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=alex
DB_PASSWORD=bestpassword
DB_DATABASE=postgres
DB_SYNCHRONIZE=true

# 유저들한테 메일을 보내기 위한 설정값들
EMAIL_SERVICE=
EMAIL_HOST=
EMAIL_USER=
EMAIL_PORT=
EMAIL_SECURE=
EMAIL_PASSWORD=
